

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Dataset (DO NOT push datasets)
training/dataset/*.csv
data/

# Logs
*.log

# Optional: ignore models if large (uncomment if needed)
# model_artifacts/

# Docker
*.tar

# IDE files
.vscode/
.idea/